svg 
{
    max-height: 80vh;
}

#ui, #simulator {
    display: flex;
    justify-content: center; 
}

.small-inputs, .big-inputs
{
    text-align: center; 
    display: grid;
    margin: 0 20px;
}

.text-input
{
    width: 25vw;
    color: white;
    background-color: #0000;
    margin: 2px 0;
}

button
{
    color: white;
    background-color: #0000;
    text-transform: uppercase;
    font-weight: 400;
}

/* Add this CSS to your component's CSS file or in a separate CSS file */

.floating-table {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  